<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% block stylesheets %}
    <link href="/static/third_party/bootstrap.css" rel="stylesheet" media="all">
    <link href="/static/css/main.css" rel="stylesheet" media="all">
  {% endblock %}

  <title>{% block title %}LTV{% endblock %}</title>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      {% block content %}
      {% endblock %}
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>
</div>

  {% block scripts %}
    <script src="/static/third_party/jquery.min.js"></script>
    <!- Bootstrap and embedded Popper.js ->
    <script src="/static/third_party/bootstrap.bundle.js"></script>
  {% endblock %}
</body>
</html>
